#tweet-list-container {
    margin-top: 20px;
}

.btn-post-new-tweet {
    width: 125px;
    height: 50px;
    margin-top: 20px;
}

.tweet-container {
    border: solid 1px black;
    border-radius: 10px;
    background-color: beige;
    padding: 0px;
    padding-top: 1px;
}

.btn-sm {
    width: 80px;
    margin-left: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tweet-content {
    border-bottom: solid 1px gray;
}

img {
    padding-top: 10px;
    max-height: 75px;
    height: 75px;
    width: 75px;
}

.btn-user-info,
.btn-user-info:hover,
.btn-retweeted,
.btn-retweeted:hover,
.btn-favorited,
.btn-favorited:hover,
.btn-favorited,
.btn-favorited:hover {
    border-color: beige;
    background-color: beige;
}

.user-name {
    margin-top: 10px;
    margin-left: 10px;
}