@model NotificationViewModel

<dvi class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 table-bordered notification-container">
            @Html.Label(Model.Content)
            @Html.Label(Model.Date.ToString("d MMM yyyy"), new { @class = "pull-right" })
        </div>
    </div>
</dvi>
