@model PagedList.IPagedList<TweetViewModel>

<div class="col-md-10 col-md-offset-1 tweet-container">
    @foreach (var item in Model)
    {
        Html.RenderPartial("~/Views/Tweet/Partial/_TweetInformationPartial.cshtml", item);
    }
</div>
<br />
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("ListTweets", "Tweet", new { page, pageSize = Model.PageSize }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tweet-list-container"
        }))
</div>

<script src="~/Scripts/custom/paged-tweet-list.js"></script>
